  body {
            font-family: "Raleway", sans-serif;
        }

        header {
            position: sticky;
            top: 0;
            z-index: 9999;
            background: #fff;
            transition: all 0.3s ease;
        }

        .header1 {

            padding: 20px;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .header1 img {
            width: 150px;
            height: 100px;
            cursor: pointer;
            /* display: none; */
        }

        .menu {
            background-color: #ffffff;
            text-align: center;
            padding-bottom: 20px;
            opacity: 1;
            transition: opacity 0.4s ease;
        }

        .menu li {
            list-style: none;
            margin-left: 30px;
        }

        .menu a {
            text-decoration: none;
            font-size: 16px;
            color: #cec9c9;
            letter-spacing: 1.5px;
            font-weight: 600;
        }

        .menu a:hover {
            color: #5F5F5F;
        }

        .menu ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        .aboutus a {
            color: #373737;
        }

        /*             
        -------------------------------------- */

        #Herosection {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hero {
            text-align: center;
            padding: 2px;
        }

        .hero img {
            height: 600px;
            padding-bottom: 20px;
        }

        /* sinature para 
     _________________________________________________________ */

        #SinatureSection {
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }

        .para {
            width: 76%;
        }

        .para p {
            text-align: center;
            color: #818181;
            line-height: 2em;
            font-size: 16px;
        }

        /* _______________________________________ footer______________________________ */
        .para {
            text-align: center;
            padding: 30px 120px 20px 120px;
        }

        .para p {
            font-size: 14px;
            color: #A2A2A2;
            line-height: 2em;

        }

        /* socila media */
        .FoolterLogos {
            padding: 8px 40px 40px;
        }

        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .media {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f4f3f3;
            transition: background-color 1.2s ease;
        }

        .media a {
            text-decoration: none;
            color: black;
            font-size: 18px;
        }

        .media:hover {
            background-color: #373737;
        }

        .media:hover a {
            color: #ffffff;
        }

        .endfooter {
            padding: 20px;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .endfooter a {
            color: rgb(233, 228, 228);
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
        }

        .endfooter a:hover {
            color: #373737;
        }


        /* ------------------side------------- */
        .side {
            position: fixed;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 999;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
        }

        .Top {
            display: flex;
            gap: 10px;
            padding: 12px 16px;
            background: #ffffff;
            justify-content: center;
            align-items: center;
            width: 160px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
        }

        .Top h2 {
            font-size: 28px;
            margin: 0;
            font-family: "Roboto", sans-serif;
        }

        .Top h3 {
            font-size: 16px;
            margin: 0;
            line-height: 1.2;
            font-family: "Roboto", sans-serif;
        }

        .Bottom {
            display: flex;
            gap: 10px;
            padding: 16px;
            background-color: #F21E4E;
            justify-content: center;
            align-items: center;
            width: 160px;
            font-family: "Heeba", sans-serif;
        }

        .Bottom a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
        }


        .ToptoButton{
            color: #dfe0e2;;
            font-size: 28px;
          display: flex;
            flex-direction: column;
            align-items: flex-end;
               position: fixed;
            right: 10px;
            top: 80%;
            display: none;
        }
        .arrow{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #dfe0e2;;
            font-size: 28px;
            width: 50px;
            height: 50px;
               border-radius: 50%;
              border: 2px solid #818181;
               cursor: pointer;
      
        }